accelerate
cairosvg
datasets
einops
ezdxf
hatchling
huggingface_hub
jsonschema
manifold3d
open3d
opencv-python-headless
peft
Pillow
pyvista
pyyaml
rootutils
safetensors
scipy
tensorboard
transformers
trimesh