accelerate
cairosvg
datasets
einops
embreex
ezdxf
hatchling
huggingface_hub
hydra-core
hydra-colorlog
jsonschema
langchain
langchain-openai
langgraph
manifold3d
opencv-python-headless
peft
Pillow
pytest
pyyaml
rich
rootutils
rtree
ruff
safetensors
sglang[all]
scipy
tensorboard
tqdm
transformers
trimesh
wandb
